html {
  font-family: 'Exo', sans-serif;
}

body {
  max-width: 1000px;
  min-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('./images/festival-crowd.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label, input {
  font-size: 20px;
}

input {
  width: 286px;
  display: relative;
  border: 2px solid #9DB4C0;
  border-radius: 3px;
}

.logobox {
  border: 2px solid white;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  height: 450px;
  background-color: #5C6B73;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.signup-container {
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  height: 560px;
  background-color: #5C6B73;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.login-form, .signup-form {
  font-weight: bold;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.form-header {
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
}

.login-error,
.signup-error {
  color: #A31919;
}

.user-created {
  color: lawngreen;
}

.login-button {
  width: 320px;
  margin-top: 25px;
  height: 55px;
  font-weight: bold;
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  border: 2px solid #253237;
  background-color: #253237;
  border-radius: 3px;
  transition: all 0.2s ease 0s
}

.login-button:hover {
  border: 2px solid #9DB4C0;
  background-color: #9DB4C0;
  color: black;
}

.input-box {
  width: 320px;
}