* {
  font-family: 'Exo', sans-serif;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('./images/festival-crowd.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row {
  background-color: #5C6B73;
  opacity: 0.9;
}

.search-form {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.container,
.search-history-container,
.similar-artists-history-container,
.search-form-container
 {
  border: 2px solid #253237;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-form-container,
.search-history-container {
  height: 373px;
}

.section-header {
  font-size: 25px;
  font-weight: bold;
}

.shows-single-result, 
.similar-artists-single-result, 
.search-history-entry,
.similar-artists-history-entry,
.result-artist-name
 {
  border: 1px solid #253237;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #9DB4C0;
}

.songkick-logo {
  float: right;
  width: 102px;
  height: 30px;
}

.history-search-logo,
.similar-search-logo, 
.discovered-search-logo, 
.similar-songkick-logo {
  display: inline-block;
  width: 30px; 
  height: 30px;
}

.current-artist-container {
  margin-top: 80px;
}

.shows-single-result {
  height: 200px;
}

.google-maps-result {
  float: left;
  clear: both;
  height: 100%;
  margin-right: 5px;
}

.maps-image {
  height: 100%;
}